\.NEWS
\.dist
\.instdocs
\.install
\.roxy
\.source
\.testsource
\.includes
\.headers
\.tests
\.Rhistory
\.Rproj.user
*.tar.gz
*.tgz
*.zip
*.o
*.so
*.gcda
*.gcno
tests/*.pdf
lib
library
check
www
*.pdf
inst/doc/figure
inst/doc/cache
hub_cov.R
covr.html
covr.rds
.DS_Store
.Rproj.user
website/docs
website/html
website/help
inst/doc
website/vignettes/*
vignettes/articles/package_tutorial/tutorial.aux
vignettes/articles/package_tutorial/tutorial.bbl
vignettes/articles/package_tutorial/tutorial-concordance.tex
vignettes/articles/package_tutorial/tutorial.log
vignettes/articles/package_tutorial/tutorial.tex
vignettes/articles/package_tutorial/tutorial.synctex.gz
!vignettes/articles/package_tutorial/tutorial.pdf
